<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create Account</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body class="container">
		<% if(err && err.length > 0) { %>
			<div class="alert alert-danger" role="alert">
			  Error in details provided: <%= err %>
			</div>
		<% } %>
		<% if (succ && succ.length > 0) { %>
			<div class="alert alert-success" role="alert">
				<%= succ %>
			</div>
		<% } %>

		<h2>Create Account</h2>

		<form action="/create/account" method="post" id='form'>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" name="inputName" value=""/>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail">Email address</label>
					<input type="email" class="form-control" name="inputEmail" value=""/>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail">Telephone Number</label>
					<input type="text" class="form-control" name="inputTelephone" value=""/>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputPassword">Password</label>
					<input type="password" class="form-control" name="inputPassword" value=""/>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputConfirmPassword">Confirm Password</label>
					<input type="password" class="form-control" name="inputConfirmPassword" value=""/>
				</div>
			</div>

			<div class="form-group">
	   			<div class="form-check">
						<input class="form-check-input" type="checkbox" name="subscribed" id="subscribeCheckbox">
						<label class="form-check-label" for="subscribeCheck">Subscribe to new event notification</label>
	    		</div>
	  	</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<!-- Modal HTML -->
		<div id="confirmModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Confirm notifications</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>You will receive emails for all new events.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap Javascript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
<script>
$(function()
{
  $('#subscribeCheckbox').click(function()
        {
            if ($('#subscribeCheckbox').is(":checked")) {
                $('#confirmModal').modal('show');
            } else {
                $('#confirmModal').modal('hide');
            }
        });
});
</script>
