<!DOCTYPE html>
<html lang="en">
<head>
<title>Homepage</title>
</head>
<body class="container">
<main>
    <h1>EventPlanning Website</h1>
    <div id = "welcome">
        <p>Welcome to our site!</p>
    </div>
</main>


</body>
</html>
