<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-user"></span> Profile Page</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="glyphicon glyphicon-user"></span> Profile</h3>
                <% if (user) { %>
                    <p>
                        <strong>name</strong>: <%= user.name %><br>
                        <strong>email</strong>: <%= user.email %><br>
                    </p>
                <% } %>
            </div>
            <div id="buttons">
                <a class="btn btn-primary" href="/edit/account" role="button">Edit Account</a>
                <a class="btn btn-primary" href="/edit/password" role="button">Change Password</a>
            </div>
        </div>
				<div class="col-sm-6">
						<h3>User Actions</h3>
						<div style="padding-top:5px;">
								<a class="btn btn-primary" href="/events" role="button">View all Events</a>
						</div>
				</div>
        <% if (user.type=='admin') { %>
        <div class="col-sm-6">
            <h3>Admin Actions</h3>
            <div style="padding-top:5px;">
								<a class="btn btn-primary" href="/grant/admin" role="button" id='createBtn'>Grant Admin Access</a>
                <a class="btn btn-primary" href="/previous/guests" role="button" id='createBtn'>View Previous Guests</a>
								<a class="btn btn-primary" href="/event/create" role="button">Create Event</a>
            </div>
        </div>
        <% } %>

    </div>


</div>



</body>
</html>
