<head>
	<title>Upload Menu</title>
</head>
<body>
	<form ref='uploadForm' id='uploadForm' action='/uploadMenu/upload' method='post' encType="multipart/form-data">
		<input type="file" name="uploadedFile"/>
		<input type='text' name='menuName' value='Menu Name'/>
		<input type='submit' value='Upload!'/>
	</form>
	<table>
		<% for(var i=0; i < menus.length; i++) { %>
		   <tr>
		     <td><a href='/uploadMenu/<%= menus[i].filename %>'> <%= menus[i].menuName %></a></td>
		   </tr>
		<% } %>
	</table>  
</body>